*{
    margin: 0; padding: 0;
    outline: none; border: none;
}
body{
    background-color: #f5f5f5;
    color: #4e4e4e;
    overflow-y: hidden;
}

:root{
    --main-color: #1e1e1e;
    --blue-color: #0078ff;
    --white-color: #fff;
    --light-color: #cde1f8;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--blue-color);
}
::-webkit-scrollbar-track{
    background-color: var(--white-color);
}
p h1,h2,h3,h4,h5,h6{margin-top:0}
.list-ico,.socials ul,.counter-num .counter,.lead,.card-blog .category{
    margin-bottom:0
}
h1,h2,h3,h4,h5,h6{
    color:var(--main-color);
    margin-bottom: .5rem;
    font-weight: 500;
}
a,.title-s,.title-a,.s-title,.work-box a{
    color: var(--main-color);
}
a{
    text-decoration: none;
    transition: all 1s;
}
p{
    margin-bottom: 1rem;
}
.list-ico, .socials ul{
    list-style: none;
    padding-left: 0;
    line-height: 2;
}
.navbar.active{
    background-color: var(--main-color);
    transition: all .6s;
    padding: .8rem 0;
}
.subtitle-a , .work-more , .post-date{
    color: #4e4e4e;
}
.overley-mf, .card-blog .card-category, .button, .back-tp-top{
    background-color: var(--blue-color);
}
.work-more .w-category,.work-content .w-like,.w-like a,.list-ico span{
    color: var(--blue-color);
}
.title, .author,.card-blog .card-category,.card-blog .category,.button
,footer,.credits a,.back-tp-top i{
    color:var(--white-color);
}
.box-shadow-full,.servies-box,.work-box,.card{
    background-color: var(--white-color);
}
.home{
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url(../images/hero-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.obacity{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    opacity: .9;
}
.logo{
    font-weight: 600;
    letter-spacing: 1px;
}
.text .title{
    font-size: 70px;
}
.text p{
    font-size: 40px;
}
.box-shadow-full{
    padding: 50px 49px;
    box-shadow: 0 1px 10px 0 rgba(0 0 0 / 6%), 
                0 2px 5px 0 rgba(0 0 0 / 20%);
    z-index: 2;
    margin-bottom: 10px;
}
.title-s{
    font-size: 18px;
    font-weight: 600;
}
.progress{
    background-color: var(--light-color);
    margin: 10px 0; 
}
.title-left{
    font-size: 30px;
    position: relative;
    font-weight: 600;
}
.title-left::before{
    content: '';
    width: 100px;
    height: 3px;
    background-color: var(--blue-color);
    position: absolute;
    bottom: -12px;
}
.title-a{
    font-weight: bold;
    font-size: 3rem;
    text-transform: uppercase;
}
.subtitle-a{
    position: relative;
}
.subtitle-a::after{
    content: '';
    width: 40px;
    height: 5px;
    background-color: var(--blue-color);
    position: absolute;
    bottom: -15px;
    left: 48%;
}
.servies-box{
    padding: 1.2rem 1.3rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
    text-align: center;
}
.servies-box:hover .ico-circle{
    background-color: var(--blue-color);
    color: var(--white-color);
    transition: all 500ms ease;
    box-shadow: 0 0 0 10px var(--light-color);
}
.s-title{
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: .4rem 0;
}
.ico-circle{
    height: 80px;
    width: 80px;
    margin: 0 auto;
    border-radius: 50%;
    text-align: center;
    font-size: 2rem;
    box-shadow: 0 0 0 10px var(--blue-color);
    display: block;
    line-height: 1.55;
}
.serives-icons .ico-circle{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
/* start Counter */
.bg-image{
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.paralax-mf{
    position: relative;
    padding: 8rem 0;
    z-index: -2;
}
.overley-mf{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    opacity: .7;
    z-index: -2;
}
.counter-ico{
    margin-bottom: 1rem;
}
.counter-ico .ico-circle{
    width: 60px;
    height: 60px;
    box-shadow: 0 0 0 10px var(--light-color);
}
.counter-num .counter{
    font-size: 2rem;
}
/* End counter */
/* Start portfolio */
.work-box{
    margin-bottom: 3rem;
}
.work-box:hover .work-img img{
    transform: scale(1.3);
}
.work-box .work-img{
    display: block;
    overflow: hidden;
}
.work-img img{
    transition: all 1s;
}
.work-content{
    padding: 2rem 3% 1rem 4%;
}
.w-title{
    font-size: 1.2rem;
}
.work-more{
    font-size: .8rem;
}
.work-content .w-like{
    font-size: 2.5rem;
    float: right;
}
/* End portfolio */
.author{
    text-transform: uppercase;
    font-weight: 600;
    display: block;
    margin: 1rem 0;
    font-size: 1.4rem;
    position: relative;
    top: -5rem;
    text-align: center;
    margin: 2rem 0 3rem;
}
.lead{
    font-size: 1.1rem;
    margin-bottom: .9rem;
}
.w-20{
    width: 10%;
    position: relative;
    top: 0;
    left: 31rem;
    margin-bottom: 4rem;
}
.bw [data-bs-target]{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-bottom:-2rem;
}
/* Start Blog */
.card{
    position: relative;
    z-index: -1;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}
.card-blog .card-body{
    position: relative;
    padding: 1rem 1rem;
}
.card-blog .card-category-box{
    position: absolute;
    text-align: center;
    top: -16px;
    left: 15px;
    right: 15px;
    line-height: 25px;
    overflow: hidden;
}
.card-blog .card-category{
    display: inline-block;
    padding: 0 15px 5px;
    border-radius: 4px;
}
.card-blog .category{
    display: inline-block;
    text-transform: uppercase;
    font-size: .7rem;
}
.card-blog .card-title{
    font-size: 1.2rem;
    margin-top: .6rem;
}
.post-author{
    display: inline-block;
}
.card-footer{
    background-color: rgba(0, 0, 0, .03);
    border-top: 1px solid rgba(0, 0, 0, .125);
    padding: .5rem 1rem;
}
.avatar{
    width: 32px;
    height: 32px;
    margin-right: 4px;
    overflow: hidden;
}
.post-date{
    float: right;
}
/* End Blog */
/* Start Contact */
.contact-mf{
    margin-top: 4rem;
}
.button{
    border-radius: 5rem;
    border: 0;
    padding: 10px 24px;
    font-size: 1.2rem;
    display: inline-block;
    margin-top: 2rem;
    transition: .4s;
}
.button:hover{
    background-color: #3393ff;
    box-shadow: 0 0 0 4px var(--light-color);
}
.list-ico{
    line-height: 2;
}
.list-ico span{
    margin-right: 10px;
}
.socials{
    padding: 1.5rem 0;
}
.socials .ico-circle{
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
    border-radius: 50%;
    margin: 0 15px 0 0;
    line-height: 1.6;
    box-shadow: 0 0 0 3px var(--blue-color);
}
.socials .ico-circle:hover{
    color: var(--white-color);
    background-color: var(--blue-color);
    box-shadow: 0 0 0 3px var(--light-color);
    transition: all 500ms ease;
}
.socials ul li{
    display: inline-block;
}
/* End Contact */
/* Start Footer */
footer{
    background-color: #0062d3;
    padding: 25px 0;
    text-align: center;
}
/* End Footer */
.back-tp-top{
    position: fixed;
    right: 15px;
    bottom: 15px;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    z-index: 999;
    transition: all 1s;
    opacity: 0;
}
.back-tp-top:hover{
    background-color: #298eff;
    color: var(--white-color);
}
.back-tp-top i{
    font-size: 16px;
    line-height: 0;
}
/* Landing */
#landing{
    background-color: var(--light-color);
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right: 0;
    z-index: 9999;
}
.spinner {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
  }
  
  .spinner > div {
    background-color: var(--blue-color);
    height: 100%;
    width: 6px;
    display: inline-block;
    
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }
  
  .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
  
  .spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  
  .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
  
  @-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
  }
  
  @keyframes sk-stretchdelay {
    0%, 40%, 100% { 
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }  20% { 
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }
/* Media Queries */
@media(max-width:768px) {
    .text .title{
        font-size: 50px;
    }
    .text p{
        font-size: 25px;
    }
    .w-20{
        width: 30%;
        position: relative;
        top: 0;
        left: 11.5rem;
        margin-bottom: 4rem;
    }
    .carousel-item .lead{
        font-size: 1.25rem;
        font-weight: 300;
        margin-bottom: -3rem;

    }
    .bw [data-bs-target]{
        width: 15px;
        height: 15px;
        border-radius: 50%;
        position: relative;
        top: 2rem;

    }
}